# ===== Delphi / RAD Studio =====

# Build output folders
APP/Studio/Projects/Win32/
APP/Studio/Projects/Win64/
APP/Studio/Projects/Android/
APP/Studio/Projects/Android64/
APP/Studio/Projects/iOSDevice32/
APP/Studio/Projects/iOSDevice64/
APP/Studio/Projects/iOSSimulator/
APP/Studio/Projects/OSX32/
APP/Studio/Projects/OSX64/
APP/Studio/Projects/Linux64/
APP/Studio/bkp

# Common build configs
Debug/
Release/

# Compiled binaries / units
*.exe
*.dll
*.bpl
*.dcp
*.dcu
*.so
*.dylib
*.apk
*.aab

# Delphi intermediate / cache
*.local
*.dproj.local
*.identcache
*.stat
*.tvsconfig
*.dsk
*.groupproj.local
__history/

# Backup files
*.~*
*.bak
*.tmp
*.log

# Runtime packages / maps
*.map
*.rsm
*.tds
*.drc

# MSBuild / Delphi generated
*.projdata

# macOS junk
.DS_Store

# IDE settings (optional)
*.cbk
*.mps
*.vlb
*.vlg
