USE [FITMANAGER]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID_admin] [int] IDENTITY(301,1) NOT NULL,
	[Role] [int] NOT NULL,
	[Privileges] [varchar](50) NULL,
	[User] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID_attendance] [int] IDENTITY(1101,1) NOT NULL,
	[Record] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Member] [int] NOT NULL,
	[TrainingSession] [int] NOT NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID_attendance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docs]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docs](
	[ID_docs] [int] IDENTITY(1201,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [int] NULL,
	[Created_at] [datetime] NOT NULL,
	[Description] [varchar](50) NULL,
	[Admin] [int] NOT NULL,
 CONSTRAINT [PK_Docs] PRIMARY KEY CLUSTERED 
(
	[ID_docs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[ID_instructor] [int] IDENTITY(201,1) NOT NULL,
	[Specialization] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Biography] [varchar](150) NULL,
	[User] [int] NOT NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[ID_instructor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID_member] [int] IDENTITY(101,1) NOT NULL,
	[Membership_number] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Level_of_form] [int] NULL,
	[Goal] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Height] [decimal](18, 0) NOT NULL,
	[Body_weight] [decimal](18, 0) NOT NULL,
	[User] [int] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[ID_member] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[ID_membership] [int] IDENTITY(501,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[About] [varchar](50) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Max_trenings] [int] NULL,
 CONSTRAINT [PK_Membership] PRIMARY KEY CLUSTERED 
(
	[ID_membership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID_payment] [int] IDENTITY(601,1) NOT NULL,
	[Payment_made_at] [datetime] NOT NULL,
	[Sum] [decimal](18, 0) NOT NULL,
	[Payment_method] [int] NOT NULL,
	[Payment_purpose] [varchar](50) NOT NULL,
	[Member] [int] NULL,
	[Subscription] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ID_reservation] [int] IDENTITY(801,1) NOT NULL,
	[Reservation_created] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[TrainingSession] [int] NOT NULL,
	[Member] [int] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ID_reservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[ID_subscription] [int] IDENTITY(401,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Start_at] [datetime] NOT NULL,
	[End_at] [datetime] NOT NULL,
	[Member] [int] NULL,
	[Membership] [int] NOT NULL,
 CONSTRAINT [PK_Subscription] PRIMARY KEY CLUSTERED 
(
	[ID_subscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suggestion]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggestion](
	[ID_sugggestion] [int] IDENTITY(1301,1) NOT NULL,
	[Sugg_created_at] [datetime] NOT NULL,
	[Content] [varchar](50) NOT NULL,
	[Priority] [int] NULL,
	[Status] [varchar](50) NULL,
	[Member] [int] NOT NULL,
	[Admin] [int] NOT NULL,
	[Deliver_to] [int] NULL,
 CONSTRAINT [PK_Suggestion] PRIMARY KEY CLUSTERED 
(
	[ID_sugggestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[ID_training] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Training] PRIMARY KEY CLUSTERED 
(
	[ID_training] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingProgram]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingProgram](
	[ID_program] [int] IDENTITY(701,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Duration] [time](7) NOT NULL,
	[Max_num_of_members] [int] NOT NULL,
	[Instructor] [int] NULL,
 CONSTRAINT [PK_TrainingProgram] PRIMARY KEY CLUSTERED 
(
	[ID_program] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingRoom]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingRoom](
	[ID_room] [int] IDENTITY(901,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_TrainingRoom] PRIMARY KEY CLUSTERED 
(
	[ID_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSession]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSession](
	[ID_session] [int] IDENTITY(1001,1) NOT NULL,
	[Start_at] [datetime] NOT NULL,
	[End_at] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
	[TrainingProgram] [int] NULL,
	[Training_Room] [int] NULL,
 CONSTRAINT [PK_TrainingSession] PRIMARY KEY CLUSTERED 
(
	[ID_session] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1.2.2026. 21:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [int] NULL,
	[Status] [varchar](50) NULL,
	[Created_at] [datetime] NOT NULL,
	[JMBG] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID_admin], [Role], [Privileges], [User]) VALUES (301, 1, N'All', 4)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructor] ON 

INSERT [dbo].[Instructor] ([ID_instructor], [Specialization], [Status], [Biography], [User]) VALUES (201, N'Kardio', N'Aktivan', NULL, 9)
SET IDENTITY_INSERT [dbo].[Instructor] OFF
GO
SET IDENTITY_INSERT [dbo].[Membership] ON 

INSERT [dbo].[Membership] ([ID_membership], [Name], [About], [Price], [Max_trenings]) VALUES (502, N'Mesecna', N'Neogranicen pristup fitnes centru, Grupni treninzi', CAST(3000 AS Decimal(18, 0)), 100)
INSERT [dbo].[Membership] ([ID_membership], [Name], [About], [Price], [Max_trenings]) VALUES (512, N'Tromesecna', N'Izbor trenera', CAST(6000 AS Decimal(18, 0)), 350)
INSERT [dbo].[Membership] ([ID_membership], [Name], [About], [Price], [Max_trenings]) VALUES (513, N'Godisnja', N'Popust na individualne i grupne treninge', CAST(18000 AS Decimal(18, 0)), 2000)
SET IDENTITY_INSERT [dbo].[Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ID_reservation], [Reservation_created], [Status], [TrainingSession], [Member]) VALUES (802, CAST(N'2025-12-31T10:05:00.000' AS DateTime), N'ne znam', 1001, NULL)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
INSERT [dbo].[Training] ([ID_training], [Name]) VALUES (2001, N'Trening snage')
INSERT [dbo].[Training] ([ID_training], [Name]) VALUES (2002, N'Funkcionalni trening')
INSERT [dbo].[Training] ([ID_training], [Name]) VALUES (2003, N'Kardio trening')
GO
SET IDENTITY_INSERT [dbo].[TrainingProgram] ON 

INSERT [dbo].[TrainingProgram] ([ID_program], [Title], [Level], [Type], [Duration], [Max_num_of_members], [Instructor]) VALUES (710, N'Program za pocetnike', 1, 2003, CAST(N'14:35:20' AS Time), 10, NULL)
SET IDENTITY_INSERT [dbo].[TrainingProgram] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingRoom] ON 

INSERT [dbo].[TrainingRoom] ([ID_room], [Name], [Capacity], [Type]) VALUES (903, N'Fitness sala 1', 30, 2002)
INSERT [dbo].[TrainingRoom] ([ID_room], [Name], [Capacity], [Type]) VALUES (904, N'Fitnes sala 2', 15, 2002)
INSERT [dbo].[TrainingRoom] ([ID_room], [Name], [Capacity], [Type]) VALUES (905, N'Gym sala 1', 30, 2001)
SET IDENTITY_INSERT [dbo].[TrainingRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingSession] ON 

INSERT [dbo].[TrainingSession] ([ID_session], [Start_at], [End_at], [Status], [TrainingProgram], [Training_Room]) VALUES (1001, CAST(N'2026-01-01T14:30:00.000' AS DateTime), CAST(N'2026-01-01T15:30:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TrainingSession] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [Name], [Lname], [Username], [Password], [Email], [Phone], [Status], [Created_at], [JMBG]) VALUES (4, N'Vladimir', N'Petrovic', N'vlada', N'vlada123', N'vlada@gmail.com', 641257677, N'Aktivan', CAST(N'2025-12-21T14:17:37.000' AS DateTime), N'1112993720034')
INSERT [dbo].[User] ([ID_User], [Name], [Lname], [Username], [Password], [Email], [Phone], [Status], [Created_at], [JMBG]) VALUES (5, N'Pera', N'Peric', N'perica', N'perica333', N'pera@gmail.com', 641257687, N'Aktivan', CAST(N'2025-12-21T11:08:55.000' AS DateTime), N'0506993720021')
INSERT [dbo].[User] ([ID_User], [Name], [Lname], [Username], [Password], [Email], [Phone], [Status], [Created_at], [JMBG]) VALUES (8, N'Jana', N'Janic', N'janaJ', N'jany333', N'jana@gmail.com', 651788687, N'Aktivan', CAST(N'2025-12-21T17:12:13.000' AS DateTime), N'0506996755128')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Member] FOREIGN KEY([Member])
REFERENCES [dbo].[Member] ([ID_member])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Member]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_TrainingSession] FOREIGN KEY([TrainingSession])
REFERENCES [dbo].[TrainingSession] ([ID_session])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_TrainingSession]
GO
ALTER TABLE [dbo].[Docs]  WITH CHECK ADD  CONSTRAINT [FK_Docs_Admin] FOREIGN KEY([Admin])
REFERENCES [dbo].[Admin] ([ID_admin])
GO
ALTER TABLE [dbo].[Docs] CHECK CONSTRAINT [FK_Docs_Admin]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_User] FOREIGN KEY([User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_User]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_User] FOREIGN KEY([User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Member] FOREIGN KEY([Member])
REFERENCES [dbo].[Member] ([ID_member])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Member]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Subscription] FOREIGN KEY([Subscription])
REFERENCES [dbo].[Subscription] ([ID_subscription])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Subscription]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Member] FOREIGN KEY([Member])
REFERENCES [dbo].[Member] ([ID_member])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Member]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_TrainingSession] FOREIGN KEY([TrainingSession])
REFERENCES [dbo].[TrainingSession] ([ID_session])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_TrainingSession]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Member] FOREIGN KEY([Member])
REFERENCES [dbo].[Member] ([ID_member])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Member]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Membership] FOREIGN KEY([Membership])
REFERENCES [dbo].[Membership] ([ID_membership])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Membership]
GO
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_Suggestion_Admin] FOREIGN KEY([Admin])
REFERENCES [dbo].[Admin] ([ID_admin])
GO
ALTER TABLE [dbo].[Suggestion] CHECK CONSTRAINT [FK_Suggestion_Admin]
GO
ALTER TABLE [dbo].[Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_Suggestion_Member] FOREIGN KEY([Member])
REFERENCES [dbo].[Member] ([ID_member])
GO
ALTER TABLE [dbo].[Suggestion] CHECK CONSTRAINT [FK_Suggestion_Member]
GO
ALTER TABLE [dbo].[TrainingProgram]  WITH CHECK ADD  CONSTRAINT [FK_TrainingProgram_Instructor] FOREIGN KEY([Instructor])
REFERENCES [dbo].[Instructor] ([ID_instructor])
GO
ALTER TABLE [dbo].[TrainingProgram] CHECK CONSTRAINT [FK_TrainingProgram_Instructor]
GO
ALTER TABLE [dbo].[TrainingProgram]  WITH CHECK ADD  CONSTRAINT [FK_TrainingProgram_Training] FOREIGN KEY([Type])
REFERENCES [dbo].[Training] ([ID_training])
GO
ALTER TABLE [dbo].[TrainingProgram] CHECK CONSTRAINT [FK_TrainingProgram_Training]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSession_TrainingProgram] FOREIGN KEY([TrainingProgram])
REFERENCES [dbo].[TrainingProgram] ([ID_program])
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [FK_TrainingSession_TrainingProgram]
GO
ALTER TABLE [dbo].[TrainingSession]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSession_TrainingRoom] FOREIGN KEY([Training_Room])
REFERENCES [dbo].[TrainingRoom] ([ID_room])
GO
ALTER TABLE [dbo].[TrainingSession] CHECK CONSTRAINT [FK_TrainingSession_TrainingRoom]
GO
